.scroll_to_top_button {
  position: fixed;
  bottom: 60px;
  right: 50px;
  width: 60px;
  height: 60px;
  font-size: 8px;
  /* border-radius: 50%; */
  background-color: white;
  color: #f5a800;
  border: 2px solid #f5a800;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 111;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.scroll_to_top_button {
  opacity: 1;
}

@media (max-width: 768px) {
  .scroll_to_top_button {
    bottom: 18px !important;
    right: 10px !important;
    width: 60px;
    height: 60px;
    font-size: 8px;
    background-color: white;
    color: #f5a800;
    border: 2px solid #f5a800;
    border-radius: 100%;
  }
}
